name: Multi-Platform Matrix Build (e692026)

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    name: Build for ${{ matrix.os }} / Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3]()
